<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My first dynamic Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="hello.html">Home</a></li>
            <li><a href="titanic.html">Titanic</a></li>
            <li><a href="https://github.com/MRaza98">About</a></li>
        </ul>
    </nav>

    <main>
        <h1>I have been seen {{ count }} times.</h1>
        <ul>
            {% for i in range(1, count+1) %}
            <li>{{ i }}: Hello {{ name }}! </li>
            {% endfor %}
        </ul>
        <p>This is a <a href="https://www.hwr-berlin.de/en/">link to HWR. </a> </p>
    </main>

    <footer>
        <p>Created by Raza</p>
    </footer>
    
</body>

</html>